* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family: 'Herculanum', sans-serif;
}

a {
    color: inherit; 
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.body {
    display: flex; 
    flex-direction: column;
}

.navbar {
    background-color: #5897FA;
    flex: 1 1 7.5vh; 
    display: flex; 
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.navbar ul {
    display: flex; 
    list-style-type: none;
    justify-content: space-around;
}

.home-logo {
    font-weight: 700;
    font-size: 24px;
}

.left-nav {
    display: flex; 
    flex: .25 1 auto; 
    justify-content: flex-start; 
    align-items: center; 
    /* border: 1px red solid; */
    margin-left: 2%; 
}

.right-nav {
    display: flex; 
    flex: 1 2; 
    justify-content: flex-end;
    gap: 5%; 
    padding-right: 5%; 
    align-items: center;
    font-size: 18px;
    /* border: 1px blue solid; */
}

.hero {
    flex: 1 1 80vh; 
    background-color: #5A7F44;
    display: flex; 
    justify-content: center;
    padding-left: 10%; 
    padding-right: 10%; 
}

.hero-paragraph {
    word-spacing: 2px;
    flex: 1 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    /* border: 1px red solid;  */
}

.hero-text {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 2%; 
    align-self: center;
    padding-left: 1%;
}

.hero-subtext {
    font-size: 16px;
    line-height: 105%;
    /* align-self: center;  */
    /* text-indent: 10%; */
    margin-bottom: 4%;
    padding-left: 1%; 
    padding-right: 1%; 
    /* border: 1px blue solid; */
}

.hero-button {
    align-self: center;
}

.image-container  {
    flex: 1 1; 
    /* display: flex;  */
    height: 50%; 
    align-self: center;
    /* align-items: center; */
    /* border: 1px red solid;  */
    overflow: hidden; 
}

.image-container img {
    width: 100%; 
    margin-top: -60px;
    /* height: auto;  */
    /* object-fit: contain; */
}

button {
    border-radius: 25px;
    padding: 2% 4%; 
    background-color: #2E67A0;
    font-size: 16px;
    font-weight: 400;
    color: white; 
    border: 1px black solid;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 400ms;
    cursor: pointer;
}

.block-1 {
    background-color: #5897FA;
}
.block-2 {
    background-color: #5A7F44;
}
.block-3 {
    background-color: #a10000;
}
.block-4 {
    background-color: #f9fbfc;
} 

.info {
    display: flex; 
    flex-direction: column;
    flex: 1 1 55vh; 
    background-color: rgb(132, 132, 100);
    justify-content: center;
    /* align-items: center; */
    padding-right: 2%; 
    padding-left: 2%; 
}

.info-header {
     font-size: 30px;
     font-weight: 500;
     margin-bottom: 2%;
     align-self: center;
}
 
.info-blocks {
    display: flex; 
    justify-content: center;
    gap: 5%; 
    flex-wrap: wrap;
    align-items: center;
}

.info-blocks .block {
    width: 150px;
    height: 150px;
    margin-bottom: 7.5%; 
    border-radius: 25px;
    /* border: 1px purple solid;  */
}

/* .info-text {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
} */

.block-container {
    /* border: 1px red solid;  */
    display: flex; 
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.block-subtext {
    font-size: 19px;
}

.quote-section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.quote {
    font-size: 36px;
    font-style: italic;
    width: 60%; 
}

.quote-source {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    width: 60%; 
    /* align-self: flex-start; */
    /* border: 1px red solid;  */
}

.sign-up-section {
    height: 45vh; 
    background-color: hsl(210, 25%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    background-color: #5897FA;
    padding: 3% 7.5%; 
    border-radius: 25px;
    display: flex;
    gap: 10%; 
}

.sign-up-text {
    display: flex; 
    flex-direction: column;
}

.p-text {
    font-size: 24px;
    margin-bottom: 5px;
}

footer {
    display: flex; 
    flex: 1 1 7.5vh; 
    background-color: #b4ad64;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 16px;
}